 <div class="container" id="white-box">
    <br>
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <div class="jumbotron">
          <div class="container">
            <h2>Add tips to your to do list</h2>
            <p>Click below to browse through tips provided by other users to add to your to do list</p>
            <p><%= link_to 'Add a New Task', new_task_url, class: 'btn btn-primary btn-lg' %></p>
          </div>
        </div>
      </div>
    </div>




<h3>Below are the tips currently on your to do list.  You can delete these tips once you have completed them.</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tip</th>
      <!-- <th>To do list</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.tip.title %></td>
        <!-- <td><%= task.to_do_list.user.name %></td> -->
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, task_url(task), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_task_url(task), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, task_url(task), method: 'delete', data: { confirm: "Do you really want to delete this task?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

