
 <div class="container" id="white-box">
    <br>
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <div class="jumbotron">
          <div class="container">
            <h2><%= @to_do_list.user.name %>'s To Do List</h2>
            <p>Complete the following tasks and save money on your electricity bill</p>
          </div>
        </div>
      </div>
    </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Room</th>
      <th>Price</th>
      <th>Savings</th>
    </tr>
  </thead>

  <tbody>
    <% @to_do_list.tips.each do |tip| %>
      <tr>
        <td><%= tip.title %></td>
        <td><%= tip.description %></td>
        <td><%= tip.room %></td>
        <td><%= tip.price %></td>
        <td><%= tip.saving %></td>
      </tr>
    <% end %>
  </tbody>
</table>
