

 <div class="container" id="white-box">
    <br>
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <div class="jumbotron">
          <div class="container">
            <h2>Tips You Have Suggested</h2>
            <p>Know of a great tip for saving electricity? Post the tip and help others find ways to save!</p>
            <p><%= link_to 'Add a New Tip', new_tip_url, class: 'btn btn-primary btn-lg' %></p>
          </div>
        </div>
      </div>
    </div>





<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Room</th>
      <th>Price</th>
      <th>Saving</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= tip.user.name %></td>
        <td><%= tip.title %></td>
        <td><%= tip.description %></td>
        <td><%= tip.room %></td>
        <td><%= tip.price %></td>
        <td><%= tip.saving %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, tip_url(tip), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_tip_url(tip), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, tip_url(tip), method: 'delete', data: { confirm: "Do you really want to delete this tip?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

